:root {
    --bg-primary: #683e98;
    --text-primary: #424242;
    /* Text Colors */
    --text-light: #ffffff;
    --text-dark: #212529;
    --text-muted: #6c757d;
    /* Border Colors */
    --border-light: #dee2e6;
    --border-dark: #495057;
    --btn-padding: 6px 30px;
    --mud-palette-drawer-background: #e5e5e5;
    --purple-active: #6a1b9a;
    --green-color: #449d35;
    --table-header-dark: #b6e8b8;
    --table-header-light: #f2fff3 !important;
}


.table > :not(caption) > * > * {
    box-shadow: none;
}

.table .form-control {
    background-color: #ffffff !important;
    border-width: 0.5px !important;
    border-bottom-color: #ccc !important;
    color: #000 !important;
}

.table .form-select {
    background-color: #ffffff !important;
    border-width: 0.5px !important;
    border-bottom-color: #ccc !important;
    color: #000 !important;
}

.table .btn-primary {
    background-color: var(--bs-primary);
}

.table .btn-secondary {
    background-color: var(--bs-secondary);
}

.alert-dismissible .btn-close {
    z-index: 1;
}

.breadcrumbs {
    background-color: #e6e6e6;
    border-bottom: 1px solid #d6d5d5;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-toggler .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.app-menu {
    width: 100%
}

.breadcrumb {
    margin-bottom: 0;
}

.app-menu .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.app-menu .nav-item:first-of-type {
    padding-top: 1rem;
}

.app-menu .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.app-menu .nav-item a {
    color: #d7d7d7;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
    padding-left: 1rem;
}

.app-menu .nav-item a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.app-menu .nav-item a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
    margin: .5rem;
}

.app-logo .navbar-brand {
    color: white;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }

    .app-search {
        border-radius: 6px;
    }
    .app-search input{
        display: none !important;
    }

    .app-search input + button {
        position: initial;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .app-search:active, .app-search:hover {
        display: block;
        position: fixed;
        color: #fff;
        top: 0;
        min-height: 60px;
        width: 100%;
        left: 0;
        z-index: 999;
        border-radius: 0;
    }

    .app-search:active .app-form-inline, .app-search:hover .app-form-inline {
        margin: 10px auto;
        position: relative;
        display: block;
        max-width: 80%;
    }

    .app-search:active .app-form-inline input, .app-search:hover .app-form-inline input {
        width: 100%;
        display: block !important;
    }
    .app-search:active .app-form-inline input + button, .app-search:hover .app-form-inline input + button {
        position: absolute;
        color: rgb(42, 159, 214);
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
        display: block;
    }

    .app-logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .breadcrumbs {
        position: fixed;
        left: 275px;
        top: 15px;
        z-index: 6
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 4
    }

    .main .top-row {
        position: sticky;
        top: 0;
        z-index: 5
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .main > .container {
        margin-top: 30px;
    }
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

@media (max-width: 767.98px) {
    .app-logo {
        height: 80px;
        display: flex;
        align-items: center;
    }

    .breadcrumbs {
        position: fixed;
        top: 150px;
        width: 100%;
        left: 0;
        z-index: 4;
    }

    .sidebar {
        margin-top: 3.5rem;
        position: fixed;
        width: 100%;
        z-index: 4;
    }

    .main .top-row {
        z-index: 4;
    }

    .main > .top-row.px-4 {
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
    }

    .ml-md-auto {
        margin-left: auto;
    }

    .main > .container {
        margin-top: 200px;
    }
}

.mud-button {
    border-radius: 25px;
    font-size: 12px;
    padding: var(--btn-padding);
}
.needs-validation .form-group .btn {
    border-radius: 25px;
    font-size: 14px;
    padding: var(--btn-padding);
}

#username {
    width: 100%;
    border: none;
    border-radius: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    margin-bottom: 0;
    padding: 13px 25px;
    outline: 0;
    padding: 10px 22px;
    background-color: transparent !important;
}

#password {
    border: none;
    border-radius: 25px 0px 0px 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16);
    margin-bottom: 0;
    padding: 13px 25px;
    outline: 0;
    padding: 10px 22px;
    background-color: transparent !important;
}

.btn-primary {
    background-color: var(--bg-primary) !important;
    border-radius: 25px;
    font-size: 14px;
    padding:var(--btn-padding);
    border: none;
    font-weight: 600;
}

.btn-secondary, .btn-danger, .btn-success {
    border-radius: 25px;
    font-size: 14px;
    padding: var(--btn-padding);
    font-weight: 600;
    border: none;
}

.Oqtane-Modules-Admin-Login {
    width: 350px !important;
}

.Oqtane-Modules-Admin-Login .app-tooltip::before {
        margin-left: 0;
    }

.Oqtane-Modules-Admin-Login.app-tooltip::after {
        font-size: 12px;
        margin-left: 0;
    }

input:focus {
    background: #fff !important; /* Ensure background stays white when focused */
    box-shadow: 0 3px 6px rgba(0, 0, 0, .16); /* Optional: Keep box-shadow on focus */
}

.color-green {
    color:var(--green-color) !important;
}
.color-purple {
    color: var(--purple-active) !important;
}

.mud-nav-item a {
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mud-navmenu {
    width:100% !important;
}

.custom-drawer {
    background-color: var(--mud-palette-drawer-background) !important;
    box-shadow: 3px 0px 18px rgba(0, 0, 0, 0.2);
}

.btn-outline-secondary {
    color: var(--text-light);
    border-width: 2px;
    margin-right: 5px;
    border: solid 2px var(--mud-palette-appbar-background);
    box-shadow: -1px 2px 5px rgb(121 170 64);
}

/* Custom MudAppBar Height */
.mud-appbar-custom-height {
    height: 50px !important; /* Adjust the height as required */
}
.custom-logo img {
    width:120px;
}

/*.mud-nav-link {
    vertical-align: middle;
    align-items: center;
    
}*/
    .mud-nav-link .mud-icon-root {
        font-size: 1rem;
       
    }

.mud-input-root, .mud-menu-item .mud-menu-item-text {
    color: var(--text-primary) !important;
    font-size: 0.9rem;
}

.active {
    background: var(--purple-active) !important;
    color: var(--text-light) !important;
}

    .active .mud-icon-root {
        color: var(--text-light) !important;
    }

.tab-pane.fade.show.active {
    background-color: transparent !important;
    color: inherit !important;
    background: inherit !important;
}


.mud-tabs-vertical .mud-tab {
    text-align: right !important;
    justify-content: right !important;
    color: var(--text-dark); /* Applies to normal .mud-tab */
}

    .mud-tabs-vertical .mud-tab.mud-tab-active {
        color: var(--mud-palette-primary) !important; /* Resets color to default, preventing --text-dark */
    }






/*.mud-input.mud-input-outlined:focus-within .mud-input-outlined-border {
    margin-top: -6px;
}

.mud-tabs .mud-input.mud-input-outlined:focus-within .mud-input-outlined-border {
    margin-top: 0px;
}*/
.mud-input-control > .mud-input-control-input-container > .mud-input-label-outlined.mud-input-label-inputcontrol {
    /*    padding-top: 10px !important;*/
    color: var(--text-dark) !important;
    background: var(--text-light) !important;
}

.mud-input:focus-within ~ label.mud-input-label.mud-input-label-inputcontrol {
    background: var(--text-light) !important;
    padding-top: 0 !important;
}


/* For even rows */
.rz-data-row:nth-child(even) {
    background-color: #f5f5f5;
    !important; /* Gray */
}

.rz-data-row:hover td {
    background-color: #dffde0 !important;
}

/* For odd rows */
.rz-data-row:nth-child(odd) {
    background-color: white !important; /* White */
}

.table-cell-edited {
    position: relative;
}

    .table-cell-edited::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        border-top: 10px solid red;
        border-left: 10px solid transparent;
    }
.rz-grid-table-fixed .rz-frozen-cell-left, .rz-grid-table thead th {
    padding: 10px 6px;
}
.rz-grid-table td {
    padding: 6px 10px !important;
}
.rz-group-header, .rz-grid-table-fixed .rz-frozen-cell-left, .rz-grid-table-fixed .rz-frozen-cell-right-inner, .rz-grid-table tr td:last-child:not(.rz-composite-cell), .rz-grid-table thead th {
    background: var(--table-header-light) !important;
    /*    background:   #c4f7c4 !important;*/
}
.rz-grid-table tr td:first-child:not(.rz-composite-cell), .rz-grid-table th td:first-child {
    box-shadow: 2px 0 5px -2px rgba(0, 0, 0, 0.2);
}
.rz-grid-table tr td:last-child:not(.rz-composite-cell), .rz-grid-table th td:last-child {
    box-shadow: -2px 0 5px -2px rgba(0, 0, 0, 0.2);
}
.rz-grid-table thead th {
    border-bottom: solid 1px #ccc;
    box-shadow: 0 2px 5px -2px rgba(0, 0, 0, 0.2); /* Bottom shadow */
}
.rz-grid-table-fixed .rz-frozen-cell-right-inner {
    text-align: center;
}
.mud-select .mud-select-input .mud-input-slot, .mud-input > input.mud-input-root-outlined, .mud-typography-subtitle1, textarea {
    font-size: 0.9rem !important;
}
.rz-group-header {
    border-bottom: solid 1px #ccc;
    padding: 10px;
    background: var(--table-header-dark) !important;
}
.rz-grid-table td .rz-cell-data {
    font-size: 0.8rem !important;
}
.rz-grid-table thead th .rz-column-title {
    padding-left: 5px !important;
    font-size: 0.8rem !important;
    font-weight:700 !important;
}
.rz-state-highlight.rz-multiselect-item, .rz-multiselect-items li.rz-state-highlight {
    background: var(--table-header-light) !important;
    color:var(--text-dark) !important;
}
.rz-state-highlight.rz-multiselect-item:hover, .rz-multiselect-items li.rz-state-highlight:hover {
    background: var(--table-header-dark) !important;    
}

.mud-nav-group .mud-nav-link {
    align-items: center !important;
}

.mud-dialog .mud-dialog-title {
    border-bottom: solid 1px #ccc;
    background: var(--table-header-dark);
    margin: 0;
    padding: 10px 24px !important;
}

.mud-card .notify {
    font-size: 14px !important;
}

.rz-card .rz-tabview-nav li {
    background-color: var(--table-header-dark) !important;
    color: var(--text-dark) !important;
}

.rz-card .rz-tabview-top > .rz-tabview-nav .rz-tabview-selected {
    border-bottom-color: var(--table-header-dark) !important;
    margin-bottom: -1px;
    border-top-color: var(--table-header-dark) !important;
    background: #fff !important;
}

.mud-dialog .mud-tabs-tabbar.mud-tabs-vertical .mud-tabs-tabbar-inner {
    width: 200px !important;
}
.mud-tabs.mud-tabs-vertical .mud-tooltip-root {
    width: 200px !important;
}

.rz-link {
    color: var(--rz-link-color) !important;
    background: none !important;
}

.w-full {
    width: 100% !important;
}

.rz-custom-header {
    width: 100% !important;
    padding-right: 0.6rem !important;
}






